
@{
    ViewBag.Title = "OverbakeLogCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="@Url.Content("~/Scripts/Charts.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dates.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.5.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/sweetalert.min.js")"></script>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/sweetalert.css")" rel="stylesheet" />
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Overbake Charts</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">OVERBAKE CONTROL</li>
        <li class="breadcrumb-item active">Charts</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <i class="fas fa-chart-area me-1"></i> Overbaked pieces by
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Select filter</a>
                    <ul class="dropdown-menu dropdown-menu-lg-start" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Week</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Month</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Year</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-body"><canvas id="myAreaChart" width="100" height="30"></canvas></div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Overbaked pieces by month
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100" height="50"></canvas></div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center py-1">
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label class="form-label">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    Piezas defectuosas
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label class="form-label">Fecha Inicio</label>
                                <input class="form-control" type="text" id="txtFechaInicioChart" name="fechaInicio" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label class="form-label">Fecha Fin</label>
                                <input class="form-control" type="text" id="txtFechaFinChart" name="fechaFin" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <button type="button" id="btnSearchChart" class="btn btn-primary btn-block form-control">
                                    Filtrar <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="mb-2">
                                <button type="button" class="btn btn-warning btn-block form-control" id="btnClearChart">Today
                                    <i class="fas fa-eraser"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="myPieChartDiv"></canvas></div>
                <div class="card-footer small text-muted" id="myPieChartFooter"></div>
            </div>
        </div>
    </div>
</div>

<script>

    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    var dates = getDates();
    backgroundColors = ['#007bff', '#dc3545', '#ffc107', '#28a745', '#6610f2', '#e83e8c', '#fd7e14', '#20c997', '#17a2b8', '#6f42c1', '#343a40', '#6c757d', '#007bff', '#dc3545', '#ffc107', '#28a745',]

    $("#txtFechaInicioChart").datepicker();
    $("#txtFechaFinChart").datepicker();

    function swalDatesChartEmpty(){
        swal('Error','Selecciona un rango valido de fechas','error');
    }

    $("#btnSearchChart").click(function () {
        var fechaInicio = $("#txtFechaInicioChart").val();
        var fechaFin = $("#txtFechaFinChart").val();
        if (fechaInicio == "" || fechaFin == "") {
            swalDatesChartEmpty();
            return;
        }
        fillPieChart(fechaInicio, fechaFin);
    });

    $("#btnClearChart").click(function () {
        $("#txtFechaInicioChart").val(dates['today']);
        $("#txtFechaFinChart").val(dates['tomorrow']);
        fillPieChart(dates['today'], dates['tomorrow']);
    });

    $("#btnClearChart").click();
    
    var ctx = document.getElementById("myAreaChart");


    var ctx = document.getElementById("myBarChart");
    var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["January", "February", "March", "April", "May", "June"],
            datasets: [{
                label: "Revenue",
                backgroundColor: "rgba(2,117,216,1)",
                borderColor: "rgba(2,117,216,1)",
                data: [421, 531, 625, 784, 982, 484],
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'month'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 1000,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        display: true
                    }
                }],
            },
            legend: {
                display: false
            }
        }
    });
    
    function fillPieChart(fechaInicio, fechaFin){
        jQuery.ajax({
            url: "@Url.Action("ListOverbakeLogsWithDateRange", "OverbakeLogs")",
            type: "GET",
            data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                var plcIds = {}, color = 0, labels = [], dataset = [], backgroundColor = [];
                for (var i = 0; i < data['data'].length; i++) {
                    var plcId = data['data'][i].PlcName;
                    if (plcIds[plcId] == undefined) {
                        plcIds[plcId] = {
                            label: data['data'][i].PlcName,
                            data: 1,
                            backgroundColor: backgroundColors[color++]
                        };
                    } else {
                        plcIds[plcId].data++;
                    }
                }
                for (var key in plcIds) {
                    labels.push(plcIds[key].label);
                    dataset.push(plcIds[key].data);
                    backgroundColor.push(plcIds[key].backgroundColor);
                }
                var div = document.getElementById("myPieChartDiv");
                if (div.getElementsByTagName("canvas").length > 0) {
                    div.removeChild(div.getElementsByTagName("canvas")[0]);
                }
                var canvas = document.createElement("canvas");
                canvas.setAttribute("id", "myPieChart");
                div.appendChild(canvas);
                var ctx = document.getElementById("myPieChart");
                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: { labels: labels, datasets: [{ data: dataset, backgroundColor: backgroundColor }], },
                });
                var footer = document.getElementById("myPieChartFooter");
                footer.innerHTML = "Actualizado entre " + formatDateWithNames(fechaInicio) + " a " + formatDateWithNames(fechaFin);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    
</script>

