
@{
    ViewBag.Title = "OverbakeLogCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="@Url.Content("~/Scripts/Charts.min.js")"></script>
    <script src="@Url.Content("~/Scripts/dates.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.5.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/sweetalert.min.js")"></script>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/sweetalert.css")" rel="stylesheet" />
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Overbake Charts</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">OVERBAKE CONTROL</li>
        <li class="breadcrumb-item active">Charts</li>
    </ol>

    <div class="row align-items-center py-1">
        <div class="card mb-4">

            <div class="card-header">
                <div class="row align-items-center py-1">
                    <div class="col">
                        <i class="fas fa-chart-bar me-1"></i>
                        Piezas por PLC Anual
                    </div>
                    <div class="col-sm-1">
                        <label class="form-label">Seleccione Año</label>
                    </div>
                    <div class="col-sm-3">
                        <div id="yearDropdown"></div>
                    </div>
                    <div class="col-sm-1">
                        <label class="form-label">Seleccione PLC</label>
                    </div>
                    <div class="col-sm-3">
                        <div id="plcDropdown"></div>
                    </div>
                </div>
            </div>
            
            <div class="card-body" id="myBarChartDiv"></div>
            <div class="card-footer small text-muted" id="myBarChartFooter"></div>
            
        </div>
    </div>

    <div class="row align-items-center py-1">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Total piezas Anual
                </div>
                <div class="card-body" id="allBarDiv"></div>
                <div class="card-footer small text-muted" id="allBarFooter"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-2">
                <div class="card-header">
                    <div class="row align-items-center py-1">
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label class="form-label">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    Piezas defectuosas
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label class="form-label">Fecha Inicio</label>
                                <input class="form-control" type="text" id="txtFechaInicioChart" name="fechaInicio" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <label class="form-label">Fecha Fin</label>
                                <input class="form-control" type="text" id="txtFechaFinChart" name="fechaFin" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <button type="button" id="btnSearchChart" class="btn btn-primary btn-block form-control">
                                    Filtrar <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="mb-2">
                                <button type="button" class="btn btn-warning btn-block form-control" id="btnClearChart">Today
                                    <i class="fas fa-eraser"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="myPieChartDiv"></canvas></div>
                <div class="card-footer small text-muted" id="myPieChartFooter"></div>
            </div>
        </div>
    </div>
</div>

<script>

    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    var dates = getDates();
    backgroundColors = ['#007bff', '#dc3545', '#ffc107', '#28a745', '#6610f2', '#e83e8c', '#fd7e14', '#20c997', '#17a2b8', '#6f42c1', '#343a40', '#6c757d', '#007bff', '#dc3545', '#ffc107', '#28a745',]

    $("#txtFechaInicioChart").datepicker();
    $("#txtFechaFinChart").datepicker();

    function swalDatesChartEmpty(){
        swal('Error','Selecciona un rango valido de fechas','error');
    }

    $("#btnSearchChart").click(function () {
        var fechaInicio = $("#txtFechaInicioChart").val();
        var fechaFin = $("#txtFechaFinChart").val();
        if (fechaInicio == "" || fechaFin == "") {
            swalDatesChartEmpty();
            return;
        }
        fillPieChart(fechaInicio, fechaFin);
    });

    $("#btnClearChart").click(function () {
        $("#txtFechaInicioChart").val(dates['today']);
        $("#txtFechaFinChart").val(dates['tomorrow']);
        fillPieChart(dates['today'], dates['tomorrow']);
    });

    $("#btnClearChart").click();

    fillYearDropdown();
    fillPlcDropdown();

    function fillYearDropdown(){
        $.ajax({
            url: "@Url.Action("GetLogYears","OverbakeLogs")",
            type: 'POST',
            success: function (data) {
                data = data['data'];
                var yearDropdown = document.getElementById("yearDropdown");
                var select = document.createElement("select");
                select.setAttribute("id", "yearDropdownSelect");
                select.setAttribute("class", "form-control");
                select.setAttribute("onchange", "fillBarChart(this.value)");
                for (var i = 0; i < data.length; i++) {
                    var value = data[i].toString();
                    var option = document.createElement("option");
                    option.setAttribute("value", value);
                    option.innerHTML = value;
                    select.appendChild(option);
                }
                yearDropdown.appendChild(select);
                var year = new Date().getFullYear();
                $("#yearDropdownSelect").val(year);
                fillBarChart(year);
            }
        });
    }

    function fillPlcDropdown(){
        $.ajax({
            url: "@Url.Action("ListPlcs","Plc")",
            type: 'POST',
            success: function (data) {
                data = data['data'];
                var plcDropdown = document.getElementById("plcDropdown");
                var select = document.createElement("select");
                select.setAttribute("id", "plcDropdownSelect");
                select.setAttribute("class", "form-control");
                select.setAttribute("onchange", "setAsHiddenIfDiferentId(this.value)");
                var option = document.createElement("option");
                option.setAttribute("value", -1);
                option.innerHTML = "All";
                select.appendChild(option);
                for (var i = 0; i < data.length; i++) {
                    var option = document.createElement("option");
                    option.setAttribute("value", data[i]['Id']);
                    option.innerHTML = data[i]['Name'];
                    select.appendChild(option);
                }
                plcDropdown.appendChild(select);
            }
        }); 
    }

    function fillBarChart(year){
        let usingYear = year;
        jQuery.ajax({
            url: "@Url.Action("FilterOverbakeLogsByMonthsWithYear", "OverbakeLogs")",
            type: "POST",
            data: { year : year },
            datatype: "json",
            success: function (data) {
                var dataset = data['data'];

                var canvasId = createCanvasById("allBarDiv");
                var plotDataset = getPlotDatasetByKey(dataset, true);
                setBarChart("allBarDiv", plotDataset, canvasId);

                var canvasId = createCanvasById("myBarChartDiv");
                var plotDataset = getPlotDatasetByKey(dataset, false);
                setBarChart("myBarChartDiv", plotDataset, canvasId);
                
                var footer = document.getElementById("myBarChartFooter");
                footer.innerHTML = "Actualizado a " + usingYear;
                var footer = document.getElementById("allBarFooter");
                footer.innerHTML = "Actualizado a " + usingYear;
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function createCanvasById(id){
        var div = document.getElementById(id);
        if (div.getElementsByTagName("canvas").length > 0) {
            div.removeChild(div.getElementsByTagName("canvas")[0]);
        }
        var canvas = document.createElement("canvas");
        var canvasId = id + "Canvas";
        canvas.setAttribute("id", canvasId);
        div.appendChild(canvas);
        return canvasId;
    }

    function getPlotDatasetByKey(dataset, all=false){
        
        var labels = [], data = [], colors = [], plotDataset = [];
        var dictionary = {};
        for (var i = 0; i < dataset.length; i++) {
            if(all == true){
                var key = dataset[i]['Year'] + '-' + dataset[i]['Status'];
            }else{
                var key = dataset[i]['Year'] + '-' + dataset[i]['Status'] + '-' + dataset[i]['PlcName'];
            }
            if (dictionary[key] == undefined) {
                dictionary[key] = [];
            }
            dictionary[key].push(dataset[i]);
        }
        var i = 0;
        for (var key in dictionary) {
            var label = dictionary[key][0]['Status'];
            var plcId = dictionary[key][0]['PlcId'];
            var data = [];
            for (var j = 0; j < dictionary[key].length; j++) {
                data.push(0);
                for(var k = 0; k < dictionary[key][j]['Count']; k++){
                    data[dictionary[key][j]['Month'] - 1]++;
                }
            }
            var color = label == 'G' ? '#28a745' : '#dc3545';
            var plot = {
                label: plcId + ' ' + label,
                backgroundColor: color,
                borderColor: color,
                data: data,
                fill: false,
            };
            plotDataset.push(plot);
            i++;
        }
        return plotDataset;
    }

    function setBarChart(ctxId, plotDataset, canvasId){
        var ctx = document.getElementById(canvasId);
        var myLineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                datasets: plotDataset
            },
            options: {
                legend: {
                    display: true
                }
            }
        });
    }

    function setAsHiddenIfDiferentId(id){
        // var chart = Chart.instances[2];
        const chart = Chart.getChart('myBarChartDivCanvas');
        var datasets = chart.data.datasets;
        for (var i = 0; i < datasets.length; i++) {
            var plcId = datasets[i].label.split(' ')[0];
            if (id != -1 && plcId != id) {
                datasets[i].hidden = true;
            } else {
                datasets[i].hidden = false;
            }
        }
        chart.update();
    }
    
    function fillPieChart(fechaInicio, fechaFin){
        jQuery.ajax({
            url: "@Url.Action("FilterOverbakeLogsWithDateRangeAndStatus", "OverbakeLogs")",
            type: "POST",
            data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
            datatype: "json",
            success: function (data) {

                var color = 0, labels = [], dataset = [], backgroundColor = [];
                for (var i = 0; i < data['data'].length; i++) {
                    labels.push(data['data'][i]['PlcName'] + ' ' + data['data'][i]['Status']);
                    dataset.push(data['data'][i]['Count']);
                    backgroundColor.push(backgroundColors[color]);
                    color = (color + 1) % backgroundColors.length;
                }

                var div = document.getElementById("myPieChartDiv");
                if (div.getElementsByTagName("canvas").length > 0) {
                    div.removeChild(div.getElementsByTagName("canvas")[0]);
                }
                var canvas = document.createElement("canvas");
                canvas.setAttribute("id", "myPieChartCanvas");
                div.appendChild(canvas);
                var ctx = document.getElementById("myPieChartCanvas");

                if(dataset.length != 0){
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: { labels: labels, datasets: [{ data: dataset, backgroundColor: backgroundColor }], },
                    });
                }else{
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: { labels: ["No hay datos disponibles por hoy"], datasets: [{ data: [1], backgroundColor: ["#6c757d"] }] },
                    });
                }

                var footer = document.getElementById("myPieChartFooter");
                footer.innerHTML = "Actualizado entre " + formatDateWithNames(fechaInicio) + " a " + formatDateWithNames(fechaFin);

            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    
</script>

