<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/w3-helper.css" />
    <link rel="stylesheet" href="~/Content/ErrorPage.css" />
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#!">
            <i class="fas fa-temperature-high"></i>
            Nissan - Overbake
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">
                        <div>Usuario activo:</div>
                        @System.Web.HttpContext.Current.Session["username"]
                    </a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("ClearSessionToken","Access")">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Overbake control</div>
                        <a class="nav-link" href="@Url.Action("OverbakeLogCharts","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="@Url.Action("OverbakeLogDashboard","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">PLC control</div>
                        <a class="nav-link" href="@Url.Action("PlcConnection","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-crate-empty"></i></div>
                            Conexion
                        </a>
                        <a class="nav-link" href="@Url.Action("PlcLogDashboard","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Dashboard
                        </a>
                        <div id="AdminPage">
                            <div class="sb-sidenav-menu-heading">Administrador</div>
                            <a class="nav-link" href="@Url.Action("UsersDashboard","Home")">
                                <div class="sb-nav-link-icon"><i class="fas fa-users fa-users-cog"></i></div>
                                Usuarios
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Usuario activo: @System.Web.HttpContext.Current.Session["username"]</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-end small">
                        <div class="text-muted">&copy; Nissan @DateTime.Now.Year</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complements")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (System.Web.HttpContext.Current.Session["token"] == null)
    {
        <script>
            let message = 'nel wey';
            swal("Error", message, "error");
            window.location.href = "@Url.Action("Index", "Access")";

        </script>
    }
    else
    {
        <script>
            let token = '@System.Web.HttpContext.Current.Session["token"]';
            //console.log(token);

            let admin = '@System.Web.HttpContext.Current.Session["isAdmin"]';
            //console.log("IsAdmin", admin);

            if(admin == "False"){
                //console.log("es para mi");
                let div = document.getElementById("AdminPage");
                div.hidden = true;
            }

        </script>


        /*

        

            if (data.excecuted) {
                        swal("Deleted!", data.message, "success");
                    } else {
                        swal("Error", data.message, "error");
                    }
        */  
    }

</body>
</html >
